@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --color-primario: #010d0e;
    --color-secundario: #F6F6F6;
    --color--terciario: #22D4FD;

    --fuente--montserrat: 'Montserrat', sans-serif;
    --fuente--krona: 'Krona One', sans-serif;
} 



* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header {
    padding: 2% 0% 0% 15%;
}

.header__nav {
    width: 80%;
    display: flex;
    gap: 80px;
}    

.header__nav__home {
    font-family: var(--fuente--montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.presentacion {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 2.25px;
    font-family: var(--fuente--krona);
}

.titulo-destaque {
    color: var(--color--terciario);
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente--montserrat);
}

.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente--krona);
    font-weight: 400;
    font-size: 1.5rem;
}

.presentacion__enlaces__link{
      /* background-color: #22D4FD; */
      border: 2px solid var(--color--terciario);
      width: 50%;
      text-align: center;
      border-radius: 8px;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 21.5px 0;
      text-decoration: none;
      color: var(--color-secundario);
      font-family: var(--fuente--montserrat);
      display: flex;
      justify-content: center;
      gap: 10px;
}

.presentacion__enlaces__link:hover {
      background-color: var(--color-primario);
      padding: 3%;
}

.imagem {
    width: 50%;
}


.footer-texto {
    height: 60px;
    background-color: var(--color--terciario);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--color--terciario);
    padding: 1.5rem;
    color: var(--color-secundario);
    text-align: center;
    font-family: var(--fuente--montserrat);
    font-size: 1.5rem;
    font-weight: 600;
}

@media (max-width: 1200px) {
    
    .header {
        padding: 10%;
    }

    .header__nav {
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido {
        width: auto;
      
    }
}